@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body,
    html {
        font-family: 'Lato', sans-serif;
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
